.toggle-text-pressed__container {
  margin-top: 20px;
  padding: 10px;
}

.toggle-text-pressed__button {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(162, 162, 202);
}

.toggle-text-pressed__display {
  margin-top: 40px;
}