.add-pizza__container {
  margin-top: 20px;
  padding: 10px;
  
  
}

.add-pizza-button__container {
  display: flex;
  gap: 20px;
}

.add-pizza__button {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(162, 162, 202);
}

.add-pizza-display__container {
  padding: 10px;

}